#home {
  background-color: $red;
  color: white;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  p {
    margin-top: 1.5em;
  }
  a {
    color: rgba(0,0,0,0.4);
    font-weight: bold;
    font-size: 16px;
  }
}

.container {
  text-align: center;
}

.container h1 {
  font-family: $headers-font;
  margin-bottom: 35px;
  margin-top: 0;
}
